:root {
    --font-title: 'Frank Ruhl Libre', serif;
    --font-text: 'Poppins', sans-serif;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --color-dark-3xl: #292929;
    --color-dark-xl: #4c4c4c;
    --color-dark-l: #545454;
    --color-dark-s: #cdcdcd;
    --color-light-xl: #ffffff;
    --color-light-s: #fafafa;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px 100px;
}

.header2 {
    font-family: var(--font-title);
    font-size: 44px;
    line-height: 130%;
    font-weight: normal;
    font-style: normal;
}

.header3 {
    font-family: var(--font-title);
    font-size: 35px;
    line-height: 130%;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.06em;
}

.header4 {
    font-family: var(--font-title);
    font-size: 20px;
    line-height: 115%;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.06em;
}

.header5 {
    font-family: var(--font-title);
    font-size: 15px;
    line-height: 110%;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.06em;
}

.text-l {
    font-family: var(--font-text);
    font-size: 15px;
    line-height: 160%;
    font-weight: normal;
    font-style: normal;
}

.text-s {
    font-family: var(--font-text);
    font-size: 12px;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
}

.button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    color: var(--color-dark-3xl);
    font-family: var(--font-title);
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: .3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.button_primary {
    background-color: var(--color-primary);
    border: none;
}

.button_secondary {
    background: transparent;
    border: 2px solid var(--color-primary);
}

.button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: .3s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.button:hover {
    border-color: var(--color-primary-light);
}

.button:hover span {
    transform: translateY(0) scale(2);
}

.button span:nth-child(1) {
    --n: 1;
}

.button span:nth-child(2) {
    --n: 2;
}

.button span:nth-child(3) {
    --n: 3;
}

.button span:nth-child(4) {
    --n: 4;
}

/**** HEADER ****/

.container-header {
    padding: 60px 40px;
    background-image: url(../../assets/images/jpg/start-screen-background.jpg);
    display: flex;
}

.logo {
    margin-right: auto;
}

.logo-title {
    color: var(--color-primary);
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-bottom: 10px;
}

.logo-text {
    color: var(--color-light-xl);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.nav-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 35px;
    font-family: var(--font-text);
}

.nav-list__item-link {
    text-decoration: none;
    color: var(--color-dark-s);
    line-height: 180%;
    position: relative;
    transition: .5s;
    position: relative;
}

.nav-list__item-link::after {
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0;
    transition: .5s;
}

.nav-list__item-link:hover {
    color: var(--color-light-s);
}

.nav-list__item-link:hover::after {
    width: 100%;
}

.link-active {
    color: var(--color-light-s);
}

.link-active.nav-list__item-link::after {
    width: 100%;
}

/**** MAIN ****/

/**** Start Screen ****/

.container-start {
    background-image: url(../../assets/images/png/start-screen-puppy.png), url(../../assets/images/jpg/start-screen-background.jpg);
    background-position: right bottom, 0 -180px;
    background-repeat: no-repeat;
    padding: 163px 40px 243px 40px;
}

.content-start {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.start-screen__title {
    color: var(--color-light-xl);
}

.start-screen__text {
    color: var(--color-dark-s);
}

/**** About ****/

.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    max-width: 430px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__image {
    width: 300px;
    height: 408px;
}

.about__title {
    color: var(--color-dark-l);
}

.about__text {
    color: var(--color-dark-xl);
}

/**** Pets ****/

.container-pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.pets__title {
    color: var(--color-dark-l);
    text-align: center;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card__title {
    color: var(--color-dark-l);
}

.card__button {
    width: 187px;
}

.carousel-control {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    background: transparent;
    cursor: pointer;
    transition: .3s;
}

.carousel-control:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.carousel-control.inactive {
    border-color: var(--color-dark-s);
}

.carousel-control.inactive svg {
    fill: var(--color-dark-s);
}

.carousel-control svg {
    fill: var(--color-dark-3xl);
}

.carousel-control-next {
    right: 0;
}

.pets__button {
    width: 261px;
    margin: 0 auto;
}

/**** Help ****/

.container-help {
    padding: 80px 127px 100px;
}

.help__title {
    margin-bottom: 60px;
    color: var(--color-dark-l);
    text-align: center;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--color-dark-l);
}